<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center">New Campground</h1>
                <form action="/campgrounds" method="POST" class="needs-validation" novalidate>
                    <div class="input-group mb-3">
                        <input type="text" id="title" name="campground[title]" class="form-control" placeholder="Title"
                            aria-label="campground title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid title.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="location" name="campground[location]" class="form-control"
                            placeholder="Location" aria-label="campground location" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="url" id="image" name="campground[image]" class="form-control"
                            placeholder="Image's URL" aria-label="campground image" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid image URL.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="number" id="price" name="campground[price]" class="form-control"
                            placeholder="Price" aria-label="campground price" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <textarea type="text" name="campground[description]" id="description" class="form-control"
                            rows="3" placeholder="Description" aria-label="campground description" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>

                    <button class="btn btn-secondary" type="submit">Add Campground</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/validateForms.js"></script>